{
  "openapi": "3.0.0",
  "info": {
    "title": "Alchemyst AI API v1 documentation",
    "version": "1.0.0",
    "description": "v1 API documentation for Alchemyst AI"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/auth/atlassian": {
      "get": {
        "summary": "Initiate Atlassian authentication",
        "description": "This endpoint initiates the Atlassian OAuth authentication process, requesting access to the user's profile and email.",
        "tags": [
          "auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect to Atlassian OAuth consent screen for authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Redirecting to Atlassian authentication"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/google/callback": {
      "get": {
        "summary": "Handle Google OAuth callback and authentication",
        "description": "This endpoint handles the OAuth callback from Google, verifies the authentication, and redirects the user to the dashboard if successful.",
        "tags": [
          "auth"
        ],
        "responses": {
          "302": {
            "description": "Redirects to the dashboard upon successful authentication",
            "headers": {
              "Location": {
                "description": "Redirects to the dashboard URL",
                "schema": {
                  "type": "string",
                  "example": "https://yourfrontendurl.com/dashboard"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed – Invalid credentials or other error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Authentication failed"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error during authentication process",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/google": {
      "get": {
        "summary": "Initiate Google authentication",
        "description": "This endpoint initiates the Google OAuth authentication process, requesting access to the user's profile and email.",
        "tags": [
          "auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect to Google OAuth consent screen for authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Redirecting to Google authentication"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "get": {
        "summary": "Logout and clear the access token",
        "description": "This endpoint clears the user's access token cookie, effectively logging them out.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successfully logged out and cleared the access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the logout was successful",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/status": {
      "get": {
        "summary": "Retrieve user information",
        "description": "This endpoint retrieves the information of the authenticated user based on the provided request headers.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "User information.",
                      "example": {
                        "userId": "user123",
                        "username": "john_doe"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found – No user matched the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "description": "No user found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/zoho": {
      "get": {
        "summary": "Initiate Zoho authentication",
        "description": "This endpoint initiates the Zoho OAuth authentication process, requesting access to the user's profile and email.",
        "tags": [
          "auth"
        ],
        "responses": {
          "302": {
            "description": "Redirect to Zoho OAuth consent screen for authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Redirecting to Zoho authentication"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/proxy/{proxyUrl}/{OpenAIAPIKey}/chat/completions": {
      "post": {
        "parameters": [
          {
            "name": "proxyUrl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OpenAIAPIKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "OpenAI compatible API endpoint",
        "description": "This endpoint provides a temporary OpenAI compatible interface for chat completions",
        "tags": [
          "Context Proxy"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The model to use for completion"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated completion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "created": {
                      "type": "number"
                    },
                    "choices": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error occurred during completion generation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/proxy/{geminiUrl}/v1beta/models/{modelNameAndTask}": {
      "post": {
        "parameters": [
          {
            "name": "geminiUrl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelNameAndTask",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Context Proxy"
        ],
        "summary": "Proxy endpoint for Google Gemini API (coming soon)",
        "description": "Forwards requests to Google Gemini API with validation and error handling",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contents"
                ],
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "temperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "topK": {
                        "type": "number",
                        "minimum": 1
                      },
                      "topP": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "maxOutputTokens": {
                        "type": "number",
                        "minimum": 1
                      }
                    }
                  },
                  "safetySettings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "enum": [
                            "HARM_CATEGORY_HARASSMENT",
                            "HARM_CATEGORY_HATE_SPEECH",
                            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                            "HARM_CATEGORY_DANGEROUS_CONTENT"
                          ]
                        },
                        "threshold": {
                          "type": "string",
                          "enum": [
                            "BLOCK_NONE",
                            "BLOCK_LOW_AND_ABOVE",
                            "BLOCK_MEDIUM_AND_ABOVE",
                            "BLOCK_HIGH_AND_ABOVE"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "object",
                            "properties": {
                              "parts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "finishReason": {
                            "type": "string"
                          },
                          "safetyRatings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string"
                                },
                                "probability": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "promptFeedback": {
                      "type": "object",
                      "properties": {
                        "safetyRatings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "category": {
                                "type": "string"
                              },
                              "probability": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/batch/emails/schedule": {
      "post": {
        "summary": "Schedule and send emails in batches",
        "description": "Endpoint to schedule and send multiple emails in bulk",
        "tags": [
          "emails"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emails"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "subject",
                        "date",
                        "from",
                        "body",
                        "messageId",
                        "to",
                        "text",
                        "sender",
                        "html"
                      ],
                      "properties": {
                        "subject": {
                          "type": "string",
                          "description": "Subject of the email"
                        },
                        "date": {
                          "type": "string",
                          "description": "Date when the email was sent"
                        },
                        "from": {
                          "type": "string",
                          "description": "Email address of the sender"
                        },
                        "body": {
                          "type": "string",
                          "description": "Body content of the email"
                        },
                        "messageId": {
                          "type": "string",
                          "description": "Unique identifier for the email message"
                        },
                        "to": {
                          "type": "string",
                          "description": "Recipient's email address"
                        },
                        "html": {
                          "type": "string",
                          "description": "Rich text version of the email"
                        },
                        "text": {
                          "type": "string",
                          "description": "Plain text version of the email"
                        },
                        "sender": {
                          "type": "string",
                          "description": "Sender's name or identifier"
                        },
                        "cancelled": {
                          "type": "boolean",
                          "description": "Indicates if the email has been cancelled"
                        },
                        "scheduledAt": {
                          "description": "ISO datetime string or 'now'",
                          "oneOf": [
                            {
                              "type": "string",
                              "format": "date-time"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "now"
                              ]
                            }
                          ]
                        },
                        "emailType": {
                          "type": "string"
                        },
                        "campaignId": {
                          "type": "string"
                        },
                        "jobId": {
                          "type": "string"
                        },
                        "threadId": {
                          "type": "string"
                        },
                        "channels": {
                          "type": "object",
                          "description": "Label-to-recipients map and explicit emails list",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "properties": {
                            "emails": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Emails scheduled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "10/10 emails sent successfully"
                    },
                    "emailsGenerated": {
                      "type": "number",
                      "example": 10
                    },
                    "emailsSent": {
                      "type": "number",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "405": {
            "description": "Method Not Allowed - Only POST method is supported"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Error sending email"
                    },
                    "emailsGenerated": {
                      "type": "number",
                      "example": 0
                    },
                    "emailsSent": {
                      "type": "number",
                      "example": 0
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing": {
      "get": {
        "summary": "Retrieve user usage data",
        "description": "This endpoint returns the user's leads and responses billing usage data.",
        "tags": [
          "billing"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the usage data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {
                      "type": "object",
                      "description": "Map of action identifiers to their usage count",
                      "additionalProperties": {
                        "type": "number"
                      },
                      "example": {
                        "genai.chat.generate": 1,
                        "genai.leads.get": 300,
                        "genai.leads.augment.by_web_search": 4,
                        "genai.chat.web_search": 4,
                        "genai.email.send": 1
                      }
                    },
                    "balance": {
                      "type": "number",
                      "example": 10000
                    },
                    "costs": {
                      "type": "object",
                      "example": {
                        "genai.emails.send": 1,
                        "campaigns.create": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access – User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/delete/{campaignId}": {
      "delete": {
        "summary": "Delete a particular campaign",
        "description": "This endpoint deletes a campaign by its ID, removes any related scheduled jobs, and marks associated sent emails as deleted.",
        "tags": [
          "campaigns"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign to delete",
            "example": "60d21b4667d0d8992e610c85"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Error occurred while deleting the campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/emails/{campaignId}": {
      "get": {
        "summary": "Get opened emails for a campaign",
        "description": "Retrieves a list of email addresses that have opened emails from a specific campaign, along with the total count.",
        "tags": [
          "campaigns"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign to get opened email data for",
            "example": "65a23f8c7b12345678901234"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved opened emails data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "openedEmails": {
                      "type": "object",
                      "properties": {
                        "openedEmails": {
                          "type": "array",
                          "description": "List of email addresses that have opened the campaign emails",
                          "items": {
                            "type": "string",
                            "example": "recipient@example.com"
                          }
                        },
                        "count": {
                          "type": "integer",
                          "description": "Total number of opened emails",
                          "example": 15
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated or campaign ID not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "Server error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/fetch/{campaignId}": {
      "get": {
        "summary": "Get campaign details",
        "description": "This endpoint retrieves campaign details by ID with optional warm-up and follow-up email count statistics.",
        "tags": [
          "campaigns"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign to retrieve",
            "example": "60d21b4667d0d8992e610c85"
          },
          {
            "in": "query",
            "name": "warmupEmailCount",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Flag to include warm-up email count statistics",
            "example": true
          },
          {
            "in": "query",
            "name": "followUpEmailCount",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Flag to include follow-up email count statistics",
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaignDetails": {
                      "type": "object",
                      "description": "Full campaign details"
                    },
                    "warmupEmailCount": {
                      "type": "number",
                      "description": "Count of warm-up emails (included if warmupEmailCount=true)",
                      "example": 15
                    },
                    "followUpEmailCount": {
                      "type": "number",
                      "description": "Count of follow-up emails (included if followUpEmailCount=true)",
                      "example": 8
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required campaignId parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No such campaign exists, or is visible to you."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An error occurred while processing the request."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/list": {
      "get": {
        "summary": "List user campaigns",
        "description": "This endpoint retrieves a list of campaigns belonging to the authenticated user, optionally filtered by persona.",
        "tags": [
          "campaigns"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "persona",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter campaigns by persona",
            "example": "maya"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved campaigns list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "description": "List of user's campaigns",
                      "items": {
                        "type": "object",
                        "description": "Campaign object with flattened structure (campaignData properties moved to root level)"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "Server error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "description": "Empty array returned on error",
                      "items": {
                        "type": "object"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/replies": {
      "get": {
        "summary": "Get campaign reply count",
        "description": "Retrieves the total number of replies received for a specific campaign, including both email and WhatsApp replies.",
        "tags": [
          "campaigns"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "campaignId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign to get reply counts for",
            "example": "65a23f8c7b12345678901234"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved campaign reply count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Total number of replies across all channels (email and WhatsApp)",
                      "example": 42
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "Server error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/workflows/generate/sales": {
      "post": {
        "tags": [
          "workflows"
        ],
        "summary": "Generate a sales workflow YAML based on user prompt",
        "description": "Generates a customized workflow YAML configuration for sales automation based on the provided user prompt.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userPrompt"
                ],
                "properties": {
                  "userPrompt": {
                    "type": "string",
                    "description": "User's natural language description of the desired workflow"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated workflow YAML",
            "content": {
              "application/x-yaml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Generated YAML workflow content"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing user prompt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/{chatId}/pin": {
      "put": {
        "summary": "Pin or unpin a chat",
        "description": "Updates the pinned status of a specific chat by ID.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chatId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the chat to pin/unpin."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pinned": {
                    "type": "boolean",
                    "description": "Whether the chat should be pinned or unpinned."
                  }
                },
                "required": [
                  "pinned"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat pinned/unpinned status updated successfully."
          },
          "400": {
            "description": "Error occurred while updating the chat."
          },
          "401": {
            "description": "Unauthorized – User not authenticated."
          },
          "403": {
            "description": "Forbidden – User does not have permission."
          },
          "404": {
            "description": "Not Found – Chat not found."
          }
        }
      }
    },
    "/api/v1/chat/{chatId}": {
      "patch": {
        "summary": "Update chat properties",
        "description": "Updates properties of a specific chat by ID.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chatId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the chat to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "New title for the chat."
                  },
                  "pinned": {
                    "type": "boolean",
                    "description": "Whether the chat should be pinned or not."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat updated successfully."
          },
          "400": {
            "description": "Error occurred while updating the chat."
          },
          "401": {
            "description": "Unauthorized – User not authenticated."
          },
          "403": {
            "description": "Forbidden – User does not have permission."
          },
          "404": {
            "description": "Not Found – Chat not found."
          }
        }
      },
      "delete": {
        "summary": "Delete a chat history",
        "description": "Deletes a specific chat history by ID, removes related scheduled jobs, and marks associated sent emails as deleted.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chatId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the chat to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Chat history successfully deleted."
          },
          "400": {
            "description": "Error occurred while deleting the chat history."
          },
          "401": {
            "description": "Unauthorized – User not authenticated."
          },
          "403": {
            "description": "Forbidden – User does not have permission."
          },
          "404": {
            "description": "Not Found – Chat not found."
          }
        }
      }
    },
    "/api/v1/chat/fetch/{chatId}": {
      "get": {
        "tags": [
          "chat"
        ],
        "summary": "Fetch a specific chat history by ID",
        "description": "Retrieves chat history for a specific chat ID for the authenticated user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chatId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The MongoDB ObjectId of the chat to fetch"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved chat history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "messages",
                        "userId",
                        "title"
                      ],
                      "properties": {
                        "_id": {
                          "type": "string",
                          "format": "ObjectId"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "role",
                              "message"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "user",
                                  "assistant",
                                  "system"
                                ]
                              },
                              "message": {
                                "type": "string"
                              },
                              "json": {
                                "type": "string"
                              },
                              "thinking_steps": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "steps": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "tools": {
                                "type": "object",
                                "nullable": true
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "userId": {
                          "type": "string",
                          "format": "ObjectId"
                        },
                        "title": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string",
                          "default": "platform.converse"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "scope": {
                          "type": "string",
                          "default": "private"
                        },
                        "fork": {
                          "type": "boolean",
                          "default": false
                        },
                        "forkedFrom": {
                          "type": "string",
                          "format": "ObjectId",
                          "nullable": true
                        },
                        "pinned": {
                          "type": "boolean",
                          "default": false
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid chat ID format"
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "403": {
            "description": "Forbidden - User lacks required scope"
          },
          "404": {
            "description": "Chat history not found"
          }
        }
      }
    },
    "/api/v1/chat/fork": {
      "post": {
        "tags": [
          "chat"
        ],
        "summary": "Fork a chat history from a specific message",
        "description": "Creates a new chat history by copying messages up to a specified message ID from an existing chat",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "messageId"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "ID of the original chat to fork from"
                  },
                  "messageId": {
                    "type": "string",
                    "description": "ID of the message up to which the chat should be forked"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chat successfully forked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "forkedChatId": {
                      "type": "string",
                      "description": "ID of the newly created forked chat"
                    },
                    "originalChatId": {
                      "type": "string",
                      "description": "ID of the original chat"
                    },
                    "forkedAtMessageId": {
                      "type": "string",
                      "description": "ID of the message where the fork was created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "403": {
            "description": "Forbidden - User lacks required permissions"
          },
          "404": {
            "description": "Chat or message not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/chat/generate": {
      "post": {
        "parameters": [
          {
            "name": "chatId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The ID of the chat (optional, can be null or undefined for a new chat)"
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The username of the user (useful for Telegram chats, Discord, Google, Slack, etc.)"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The source of the chat (useful for tracking the source of the chat - platform, integrations, etc.)"
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The title of the chat (useful for tracking the chat in the database)"
          }
        ],
        "tags": [
          "chat"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_history": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "role",
                        "message"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the message"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system"
                          ],
                          "description": "Role of the message sender"
                        },
                        "message": {
                          "type": "string",
                          "description": "The actual message content"
                        },
                        "json": {
                          "type": "string",
                          "description": "JSON string associated with the message"
                        },
                        "thinking_steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "nullable": true,
                          "description": "Thinking steps associated with the message"
                        },
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "nullable": true,
                          "description": "Steps associated with the message"
                        },
                        "tools": {
                          "type": "object",
                          "additionalProperties": {
                            "oneOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "object"
                              }
                            ]
                          },
                          "nullable": true,
                          "description": "Tools used in the message"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "chatId": {
                    "type": "string"
                  },
                  "persona": {
                    "type": "string"
                  },
                  "tools": {
                    "type": "object",
                    "properties": {
                      "researchIcps": {
                        "type": "boolean"
                      }
                    }
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "internal",
                      "external"
                    ],
                    "default": "internal"
                  },
                  "stream": {
                    "type": "boolean"
                  },
                  "voice": {
                    "type": "boolean"
                  },
                  "fastContext": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "chat_history"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful generation of chat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "The generated response"
                    },
                    "chatId": {
                      "type": "string",
                      "description": "ID of the chat"
                    },
                    "title": {
                      "type": "string",
                      "description": "Title of the chat"
                    },
                    "researchMode": {
                      "type": "boolean",
                      "description": "Whether research mode is enabled"
                    },
                    "stream": {
                      "type": "boolean",
                      "description": "Whether streaming is enabled"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing or malformed parameters"
          },
          "401": {
            "description": "Unauthorized: User not found"
          },
          "402": {
            "description": "Payment Required: User not valid or insufficient credits"
          },
          "403": {
            "description": "Forbidden: User lacks required scope"
          },
          "404": {
            "description": "Not Found: Could not generate response"
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end"
          }
        }
      }
    },
    "/api/v1/chat/generate/stream": {
      "post": {
        "summary": "Generate streaming chat response",
        "description": "This endpoint processes user messages and streams back AI-generated responses, thinking steps, and metadata.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_history"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "description": "ID of the chat session. If not provided, a new session will be created.",
                    "example": "60d21b4667d0d8992e610c85"
                  },
                  "chat_history": {
                    "type": "array",
                    "description": "Array of chat messages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system"
                          ]
                        },
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "persona": {
                    "type": "string",
                    "description": "Persona to use for response generation",
                    "example": "maya"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Scope of the conversation",
                    "example": "internal"
                  },
                  "tools": {
                    "type": "array",
                    "description": "Optional tools available for the chat",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Streaming response with thinking steps and final results",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "data: {\"type\":\"thinking_update\",\"content\":\"Planning response\"}\ndata: {\"type\":\"thinking_update\",\"content\":\"Analyzing user request\"}\ndata: {\"type\":\"final_response\",\"content\":\"Here's your answer...\",\"json\":{}}\ndata: {\"type\":\"metadata\",\"content\":{\"chatId\":\"60d21b4667d0d8992e610c85\",\"title\":\"Discussion about AI ethics\",\"replaySessionID\":\"60d21b4667d0d8992e610c86\"}}\ndata: [DONE]\n"
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Forbidden"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error during processing",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "data: {\"content\":null,\"error\":{\"message\":\"Internal server error\"}}\n"
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/history": {
      "get": {
        "summary": "Retrieve chat history",
        "description": "This endpoint allows an authenticated user to fetch a list of their chat histories.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved chat history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chats": {
                      "type": "array",
                      "description": "A list of user chat histories.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title of the chat history.",
                            "example": "Conversation with Maya"
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the chat history.",
                            "example": "64a7f92e9b4f20c5d7f1aabc"
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "The timestamp of the last update for the chat history in milliseconds.",
                            "example": 1672531200000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – User not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/new": {
      "post": {
        "summary": "Save chat history",
        "description": "This endpoint allows an authenticated user to save a chat history with a title and messages that is create a new chat",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title for the chat history.",
                    "example": "Conversation with Maya"
                  },
                  "messages": {
                    "type": "array",
                    "description": "An array of chat messages.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ],
                          "description": "Role of the speaker in the chat."
                        },
                        "content": {
                          "type": "string",
                          "description": "Message content."
                        }
                      },
                      "example": {
                        "role": "user",
                        "content": "Hello, how are you?"
                      }
                    }
                  }
                },
                "required": [
                  "title",
                  "messages"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chat history successfully saved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatId": {
                      "type": "string",
                      "description": "The unique ID of the saved chat history.",
                      "example": "64a7f92e9b4f20c5d7f1aabc"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – User not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error – Failed to create chat history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to create chat history"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat": {
      "post": {
        "summary": "Process user chat and return a response",
        "description": "This endpoint processes a user's chat request and returns a response based on the provided chat history and persona.",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_history": {
                    "type": "array",
                    "description": "The chat history exchanged so far in JSON format.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ],
                          "description": "Role of the speaker in the chat."
                        },
                        "content": {
                          "type": "string",
                          "description": "Message content."
                        }
                      },
                      "example": {
                        "role": "user",
                        "content": "What is the weather like today?"
                      }
                    }
                  },
                  "persona": {
                    "type": "string",
                    "description": "The persona to use for generating responses (e.g., 'maya').",
                    "example": "maya"
                  }
                },
                "required": [
                  "chat_history"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chat response successfully generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "The final result from the chat API.",
                      "example": {
                        "message": "The weather today is sunny with a high of 75°F.",
                        "persona": "maya"
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Additional metadata about the response.",
                      "properties": {
                        "timeTaken": {
                          "type": "number",
                          "description": "Time taken to process the chat (in milliseconds).",
                          "example": 200
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – User not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found – No response generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "No response generated"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error – An error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/add": {
      "post": {
        "summary": "Add context data to the context processor",
        "description": "This endpoint accepts context data and sends it to a context processor for further handling. It returns a success or error response depending on the result from the context processor.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "The content of the document"
                        }
                      },
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "description": "Array of documents with content and additional metadata"
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of the context data"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "internal",
                      "external"
                    ],
                    "default": "internal",
                    "description": "Scope of the context"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Additional metadata for the context",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "Name of the file"
                      },
                      "fileType": {
                        "type": "string",
                        "description": "Type/MIME of the file"
                      },
                      "lastModified": {
                        "type": "string",
                        "description": "Last modified timestamp"
                      },
                      "fileSize": {
                        "type": "number",
                        "description": "Size of the file in bytes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Context added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request – Invalid or missing context data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Error details"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – User is not authenticated"
          },
          "402": {
            "description": "Payment Required - User does not have enough credits"
          },
          "403": {
            "description": "Forbidden - User does not have required scope"
          },
          "404": {
            "description": "Not Found - Invalid context data format"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/delete": {
      "post": {
        "tags": [
          "context"
        ],
        "summary": "Delete context data",
        "description": "Deletes context data based on provided parameters",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Source identifier for the context"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Optional user ID",
                    "nullable": true
                  },
                  "organization_id": {
                    "type": "string",
                    "description": "Optional organization ID",
                    "nullable": true
                  },
                  "by_doc": {
                    "type": "boolean",
                    "description": "Flag to delete by document",
                    "default": true,
                    "nullable": true
                  },
                  "by_id": {
                    "type": "boolean",
                    "description": "Flag to delete by ID",
                    "default": false,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully deleted context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "403": {
            "description": "Forbidden - User lacks required permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/context/search": {
      "post": {
        "summary": "Search for context data in the context processor",
        "description": "This endpoint sends a search request to the context processor to retrieve relevant context data based on the provided query.",
        "tags": [
          "context"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "similarity_threshold",
                  "minimum_similarity_threshold"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID of the user making the request",
                    "example": "user123"
                  },
                  "query": {
                    "type": "string",
                    "description": "The search query used to search for context data",
                    "example": "search query for user preferences"
                  },
                  "similarity_threshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Maximum similarity threshold (must be >= minimum_similarity_threshold)",
                    "example": 0.8
                  },
                  "minimum_similarity_threshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Minimum similarity threshold",
                    "example": 0.5
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "internal",
                      "external"
                    ],
                    "default": "internal",
                    "description": "Search scope"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Additional metadata for the search",
                    "default": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Context search request successfully processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contexts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "metadata": {
                            "type": "object"
                          },
                          "content": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number",
                            "minimum": 0.001
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid or missing search parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "Fields missing. Detailed error: {error details}"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "402": {
            "description": "Payment Required - User not allowed to perform action"
          },
          "403": {
            "description": "Forbidden - User lacks required scope"
          },
          "500": {
            "description": "Internal error during context search processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/traces/{traceId}/delete": {
      "delete": {
        "summary": "Delete a specific data trace",
        "description": "Deletes a data trace for the authenticated user with the specified trace ID",
        "tags": [
          "Traces"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "traceId",
            "required": true,
            "description": "ID of the trace to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trace": {
                      "type": "object",
                      "description": "The deleted trace data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/context/traces": {
      "get": {
        "summary": "Retrieves a list of traces for the authenticated user",
        "tags": [
          "Traces"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not found"
          },
          "402": {
            "description": "Unauthorized - Invalid user"
          },
          "403": {
            "description": "Forbidden - User lacks required scope"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusText": {
                      "type": "string",
                      "description": "Error message (detailed in debug mode)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context/view/docs": {
      "get": {
        "tags": [
          "context"
        ],
        "summary": "Retrieve user contexts by documents.",
        "description": "Fetches documents view for authenticated user with optional organization context",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved documents view",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "402": {
            "description": "Invalid user"
          },
          "403": {
            "description": "Forbidden - User lacks required scope"
          },
          "default": {
            "description": "Unexpected error from context processor"
          }
        }
      }
    },
    "/api/v1/context/view": {
      "get": {
        "tags": [
          "context"
        ],
        "summary": "Retrieve user context",
        "description": "Gets the context information for the authenticated user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "context": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "List of context items"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User not authenticated"
          },
          "403": {
            "description": "Forbidden - User doesn't have required scope"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/dashboard-test": {
      "get": {
        "summary": "Get test dashboard data",
        "description": "This endpoint returns constant test data for dashboard UI testing.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved test analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "entries": {
                      "type": "object",
                      "items": {},
                      "properties": {
                        "byApiKey": {
                          "type": "array",
                          "description": "Test API key data.",
                          "items": {}
                        },
                        "byTime": {
                          "type": "array",
                          "description": "Test time-based data.",
                          "items": {}
                        },
                        "documentCount": {
                          "type": "integer",
                          "description": "Test document count."
                        },
                        "lastFiveDocuments": {
                          "type": "array",
                          "description": "Test recent documents.",
                          "items": {}
                        },
                        "totalStorage": {
                          "type": "integer",
                          "description": "Test storage size in bytes."
                        },
                        "totalTraces": {
                          "type": "integer",
                          "description": "Test total traces count."
                        },
                        "latestTraces": {
                          "type": "array",
                          "description": "Test recent traces.",
                          "items": {}
                        },
                        "radarChartData": {
                          "type": "object",
                          "description": "Test radar chart data."
                        },
                        "recentTokenUsage": {
                          "type": "array",
                          "description": "Test token usage data.",
                          "items": {}
                        }
                      }
                    },
                    "status": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard": {
      "get": {
        "summary": "Get API request analytics",
        "description": "This endpoint retrieves aggregated API request data grouped by API key and time for the authenticated user.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "entries": {
                      "type": "object",
                      "properties": {
                        "byApiKey": {
                          "type": "array",
                          "description": "Aggregated API request data grouped by API key.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "API key ID.",
                                "example": "64dbfdd2f7a01c28ed123456"
                              },
                              "label": {
                                "type": "string",
                                "description": "Name of the API key.",
                                "example": "My API Key"
                              },
                              "count": {
                                "type": "integer",
                                "description": "Number of requests made using this API key.",
                                "example": 42
                              }
                            }
                          }
                        },
                        "byTime": {
                          "type": "array",
[...]
